<div *ngFor="let project of projects" class="py-4">
    <div class="card mt-md-4">
        <div class="card-body">
            <h5 class="card-title">
                {{ project.title }}
            </h5>
            <div class="card-text">
                <p>
                    {{ project.desc }}
                </p>
            </div>
            <div>
                <a href="{{project.url}}" target="_blank" class="btn btn-primary">
                    <i class="fa fa-github p-1"></i>
                    View in Github
                </a>
            </div>
        </div>
    </div> 
</div>


