<div class="row d-flex align-items-center">
    <div class="col-md-5">
        <div class="d-flex flex-column">
            <div>
                <div class="display-6">
                    Drop me a mail
                </div>
                <div>
                    <small class="text-muted">
                        <a href="mailto:naven.duraisamy5859@gmail.com">
                            naven.duraisamy5859@gmail.com
                        </a>
                    </small>
                </div>
            </div>
        
            <div class="mt-5">
                <div class="display-6">
                    Ping me on twitter
                </div>
                <div>
                    <small class="text-muted">
                        <a href="https://twitter.com/navenkumar5859">
                            https://twitter.com/navenkumar5859
                        </a>
                    </small>
                </div>
            </div>
        </div>        
    </div>
    <div class="d-none d-md-block col-md-6">
        <img src="assets/images/vibe/email-pic.jpg" class="img-fluid" alt="email-pic">
    </div>
</div>


