<div class="row d-md-flex align-items-center py-5">
    <div class="img-container d-md-block col-md-6">
        <img src="assets/images/about/profile-pic.png" class="img-fluid profile__img" alt="profile-picture">
    </div>
    <div class="col-md-5 offset-md-1">
        <div class="display-4">
            Hi, I am Navenkumar
        </div>
        <div class="abt-content my-4">
            <p>
              Frontend developer currently working on Angular 9 with quite good interests towards UI/UX.
            </p>
        </div>
        <div class="abt-skills">
            <p class="display-4 abt-skills__heading">Skills</p>
            <div class="abt-skills__content">
                <span class="badge">Angular 9</span>
                <span class="badge">Typescript</span>
                <span class="badge">Python</span>
                <span class="badge">HTML</span>
                <span class="badge">CSS</span>
                <span class="badge">Git</span>
            </div>
        </div>
    </div>
    
</div>