<div class="row d-flex align-items-center">
    <div class="col-5">
        <div class="display-4">
            <span class="text-secondary">Hi, I am</span> Navenkumar
        </div>
        <div class="my-4">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel a aut voluptate fuga, praesentium quis accusamus sapiente voluptas exercitationem architecto repellendus, impedit veritatis doloremque eum facilis. Vero incidunt velit maiores?
            </p>
        </div>
        
    </div>
    <div class="col-6 offset-1">
        <img src="assets/images/about/profile-pic.png" class="img-fluid" alt="profile-picture">
    </div>
</div>