<div>
    <div class="row">
        <div class="col-2">
            <img src="assets/images/timeline/db-logo.jpeg" class="img-fluid" alt="DB-logo">
        </div>
        <div class="col-10">
            <div class="display-6">
                Graduate Analyst
            </div>
            <small>Deutsche Bank | Currently Employed</small>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-2">
            <img src="assets/images/timeline/psg-logo.jpg" class="img-fluid" alt="PSG-logo">
        </div>
        <div class="col-10">
            <div class="display-6">
                B.E - Computer Science and Engineering
            </div>
            <small>PSG College of Technology | 2018 - 2022</small>
        </div>
    </div>
</div>