/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.scss';

$primary-color: rgb(41, 43, 44);
$anchor-active-color: rgb(8, 85, 152);
$secondary-color: grey;
$secondary-font-weight: 350;
$border-light: 1px solid rgb(214, 208, 208);
$badge-background: #0275d8;
$mobile-max-width: 480px;

