@import "../../styles.scss";
.row{
    height: 100vh;
}

a:hover{
 text-decoration: none;
}

.active{
    color: $anchor-active-color;
    font-size: 1.5em;
    text-decoration: none;
}

.icon-group{
    border-top: $border-light;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-around;
    background-color: white;
    z-index: 1;
    
    .icon-group__item{
        font-size: 2rem;
        color: $secondary-color;

        &.active{
            color: $anchor-active-color;
        }
    }
}