<div class="">
    <div class="container ">
        <div class="row">
            <div class="col-3 d-flex align-items-center">
                <div class="d-flex flex-column">
                    <div class="my-4">
                        <a href="" routerLink="/about">About</a>
                    </div>
                    <div class="my-4">
                        <a href="">Timeline</a>
                    </div>
                    <div class="my-4">
                        <a href="">Projects</a>
                    </div>
                    <div class="my-4">
                        <a href="">Vibe with</a>
                    </div> 
                </div>
            </div>
            <div class="col-9 d-flex align-items-center">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>